@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,900;1,600&display=swap");

:root {
  background-color: #080808;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--root);
  min-height: 100vh;
  width: 100%;
}

body > #root > div {
  height: 100vh;
}
